# Python 文件
*.py[cod]
*.so
__pycache__/

# Cython 编译生成的文件
*.c
*.cpp

# 虚拟环境（一种常见的虚拟环境命名方式）
venv/
ENV/
env/
.venv/

# 安装包和构建输出
*.egg-info/
dist/
build/

# 日志文件、临时文件
*.log
*.tmp

# IDE 和编辑器相关文件
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS 系统文件
.DS_Store

# Windows 系统文件
Thumbs.db

# Project Specific
weights/
*.ipynb